[Unit]
Description=Forpost Video Stream to RTMP
After=network.target dzyga.service rtsp-server.service
Wants=dzyga.service rtsp-server.service

[Service]
Type=simple
User=root
Group=www-data
WorkingDirectory=/home/rpidrone/FORPOST/strema
ExecStartPre=/bin/sleep 10
ExecStart=/home/rpidrone/FORPOST/strema/start_stream.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
