[Unit]
Description=Forpost Stream Log Cleanup Timer
Requires=forpost-stream-cleanup.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1d
AccuracySec=1h

[Install]
WantedBy=timers.target
