[Unit]
Description=FORPOST Stream Auto-Restart Timer
Requires=forpost-stream.service

[Timer]
OnUnitActiveSec=2h
AccuracySec=1min

[Install]
WantedBy=timers.target
