[Unit]
Description=Forpost Stream Watchdog
After=forpost-stream.service

[Service]
Type=oneshot
User=root
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/scripts/watchdog.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
